.SearchForm {
  display: flex;
  width: 350px;
  margin-bottom: 20px;
  border-bottom: 1px solid #212121;
  padding: 10px;
}
.SearchInput {
  width: 100%;
  height: 30px;
  border-style: none;
  background-color: transparent;
  padding: 10px;
  padding-right: 40px;
  outline: none;
}
.Button {
  background-color: inherit;
  outline: none;
  border-style: none;
}